RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]

RewriteRule ^clean-url/nice-article/([^/]+)$ clean-url/nice-article.php?url=$1 [L,QSA]
